{% extends 'base.html.twig' %}

{% block title %}Features{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="table table-hover example-wrapper">
    <h1>Features</h1>
    <div class="list-group">
        <table>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date de création</th>
                </tr>
            </thead>
            <tbody>
                {% for feature in features %}
                    <tr scope="col">
                        <a href="{{ path('feature', {id: feature.id}) }}/edit">
                            <td>
                                <a href="{{ path('feature', {id: feature.id}) }}/edit">
                                    {{ feature.id }}
                                </a>                            
                            </td>
                            <td>{{ feature.name }}</td>
                            <td>{{ feature.description }}</td>
                            <td>{{ feature.createdAt | date("d/m/Y") }}</td>
                        </a>
                    </tr> 
                {% endfor %}
            </tbody>
        <table>
    </div>
    <a class="" href="{{path('feature_create')}}">Ajouter une feature</a>
</div>
{% endblock %}
